<p id="notice"><%= notice %></p> 
                                 
<h1>Listing RESULTS</h1>

<table>
  <tr>
    <th>Abbreviation</th>
    <th>Definition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |acronym| %>
  <tr>
    <td><%= acronym.abbreviation %></td>
    <% debugger %>
    <td><%= in_place_editor_field :acronym, :definition %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_request_path %>
